[submodule "zaidkilani/welovereading"]
	path = zaidkilani/welovereading
	url = git@github.com:zaidkilani/welovereading.git
	branch = 123

[submodule "zaidkilani/welovereading1"]
	path = zaidkilani/welovereading1
	url = git@github.com:zaidkilani/welovereading.git
	branch = 123

[submodule "zaidkilani/welovereading3"]
	path = zaidkilani/welovereading3
	url = git@github.com:zaidkilani/welovereading.git
	branch = app-product_stock_balance

[submodule "zaidkilani/welovereading00"]
	path = zaidkilani/welovereading00
	url = git@github.com:zaidkilani/welovereading.git
	branch = 123

[submodule "zaidkilani/welovereading44"]
	path = zaidkilani/welovereading44
	url = git@github.com:zaidkilani/welovereading.git
	branch = master

[submodule "zaidkilani/welovereading55"]
	path = zaidkilani/welovereading55
	url = git@github.com:zaidkilani/welovereading.git
	branch = 123

[submodule "zaidkilani/welovereading66"]
	path = zaidkilani/welovereading66
	url = git@github.com:zaidkilani/welovereading.git
	branch = master

[submodule "zaidkilani/welovereading221"]
	path = zaidkilani/welovereading221
	url = git@github.com:zaidkilani/welovereading.git
	branch = 8557
